* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav .left img {
    width: 4.5rem;
    height: 2.4rem;
}

nav .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.left .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.left .title-g {
    color: #FF42A5;
}

nav .right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
    font-weight: 500;
}

nav .right ul button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    width: 220px;
    height: 36px;
    border: 0px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 5px;
    color: #3C354F;
}

.youtube {
    margin: 0px 16px;
    color: #F61C0D;
}

nav .right ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
}

/* banner section */
.goat-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/group14.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    min-height: 100%;
    gap: 70px;
}
.goat-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goat-left {
    /* background-image: url("./images/group14.png");
    background-size: contain;
    background-position: center;
    min-height: 100%;
    min-width: 50%; */
    
}

.goat-subtitle {
    color: #0B0223;
    font-size: 4rem;
    font-weight: 500;
    padding-top: 140px;
}

.goat-title {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #FF4AB6 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-left .text{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.play,
.download {
    color: #FF42A5;
}

#goat-point-2 {
    margin-top: 17px;
    margin-bottom: 17px;
}

#goat-point-3 {
    margin-bottom: 30px;
}

.btns {
    margin-bottom: 40px;
}

.btn-primary {
    color: #FFF;
    background-color: #FF42A5;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    width: 100px;
    height: 33px;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-2 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    width: 130px;
    height: 33px;
    padding: 5px 10px;
}

.goat-right {
    width: 45%;
    text-align: center;
    position: relative;
}

.goat-right img {
    width: 100%;
    position: absolute;
    top: -155px;
    left: 50px;
}

/* gamer section */
.gamer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.gamer-left {
    width: 60%;
}

.gamer-left img {
    width: 100%;
}

.gamer-right {
    width: 40%;
    text-align: right;
}

.gamer .title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 900;
}

.gamer .description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
}
.btn-know{
    width: 140px;
    height: 45px;
    margin-top: 24px;
    margin-bottom: 20px;
}
.para-1{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;   
    margin-bottom: 15px;
}
.para-2 {
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 70px;
}
/* online game section */
.online-games-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.online-game-container{
    width: 80%;
    margin-bottom: 90px;
}
.online-game-container .heading{
    text-align: center;
}
.online-game-container .black-title{
    color: #0B0223;
    font-size: 2.7rem;
    font-weight: 900;
}
.online-game-container .title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 900;
}
.online-game-container .description{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 40px;
}
.games{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.games .card img{
    width: 100%;
}
.card .text{
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 16px;
}




/* mobile view */
@media screen and (max-width:576px) {
    nav {
        padding: 20px 0px;
    }

    .left .title,
    .gamer .title{
        font-size: 2.3rem;
    }

    nav,
    nav .right ul {
        flex-direction: column;
        gap: 30px;
    }

    nav .right ul,
    nav .right ul button,
    .gamer .para-2 {
        font-size: 1rem;
    }
    .goat-section{
        background: none;
    }
    .goat-container{
        flex-direction: column-reverse;
        gap: 24px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .goat-left {
        width: 90%;
        background-image: url("./images/group14.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 30px;
        margin-bottom: 50px;
    }

    .goat-subtitle {
        padding-top: 30px;
        font-size: 2rem;
    }

    .goat-title {
        font-size: 3rem;
        margin-bottom: 16px;
    }

    #goat-point-2 {
        margin-top: 9px;
        margin-bottom: 9px;
    }

    #goat-point-3 {
        margin-bottom: 10px;
    }

    .goat-left .text,
    .gamer .description,
    .gamer .para-1,
    .online-game-container .description{
        font-size: 0.8rem;
    }

    .btn-primary,
    .btn-2 {
        font-size: 0.6rem;
        font-weight: 500;
        border: none;
        border-radius: 48px;
        width: 70px;
        height: 23px;
        padding: 2.5px 5px;
    }
    .goat-right {
        width: 90%;
        position: static;
    }
    .goat-right img {
        width: 100%;
        position: static;
        top: 0px;
        left: 0px;
    }
    /* gamer section */
    .gamer-section{
        background: none;
        margin-bottom: 85px;
    }
    .gamer {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        
    }
    .gamer-left {
        width: 80%;
    }
    .gamer-right {
        width: 65%;
        text-align: center;
    }
    .btn-know{
        width: 100px;
        height: 30px;
        margin-top: 24px;
        margin-bottom: 20px;
    }
    /* online games section */
    .games{
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }
    .online-game-container .title,
    .online-game-container .black-title{
        font-size: 1.5rem;
    }

}

/* Tablet view */
@media screen and (max-width:768px) and (min-width:577px) {
    nav {
        flex-direction: column;
        gap: 40px;
    }
    /* banner section */
    .goat-section{
        background: none;
    }
    .goat-container{
        flex-direction: column-reverse;
        gap: 24px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .goat-subtitle{
        padding-top: 50px;
    }
    .goat-left {
        width: 90%;
        background-image: url("./images/group14.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .goat-right {
        width: 90%;
        position: static;
    }
    .goat-right img {
        width: 100%;
        position: static;
        top: 0px;
        left: 0px;
    }
    /* gamer section */
    .gamer {
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }
    .gamer-right {
        width: 70%;
        text-align: center;
    }

}