* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav .left img {
    width: 4.5rem;
    height: 2.4rem;
}

nav .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.left .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.left .title-g {
    color: #FF42A5;
}

nav .right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
    font-weight: 500;
}

nav .right ul button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    width: 220px;
    height: 36px;
    border: 0px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 5px;
    color: #3C354F;
}

.youtube {
    margin: 0px 16px;
    color: #F61C0D;
}

nav .right ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
}

/* banner section */
.goat-section {
    /* background-image: url("./images/group14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    /* padding-left: 80px; */
    padding-bottom: 80px;
    margin-bottom: 50px;
}
.goat-left{
    background-image: url("./images/group14.png");
    background-size: contain;
    background-position: center;
    min-height: 100%;
    min-width: 50%;
    padding-left: 80px;
}
.goat-subtitle {
    color: #0B0223;
    font-size: 4rem;
    font-weight: 500;
    padding-top: 140px;
}

.goat-title {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #FF4AB6 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-left .text {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.play,
.download {
    color: #FF42A5;
}

#goat-point-2 {
    margin-top: 17px;
    margin-bottom: 17px;
}
#goat-point-3{
    margin-bottom: 30px;
}
.btns{
    margin-bottom: 40px;
}
.btn-primary {
    color: #FFF;
    background-color: #FF42A5;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    width: 100px;
    height: 33px;
    padding: 5px 10px;
    margin-right: 10px;
}
.btn-2 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    width: 130px;
    height: 33px;
    padding: 5px 10px;
}

.goat-right {
    text-align: center;
}

.goat-right img {
    width: 100%;
}


/* mobile view */
@media screen and (max-width:576px) {
    nav {
        padding: 20px 0px;
    }
    .left .title {
        font-size: 2.3rem;
    }
    nav,
    nav .right ul {
        flex-direction: column;
        gap: 30px;
    }
    nav .right ul, 
    nav .right ul button {
        font-size: 1rem;
    }

    .goat-section {
        flex-direction: column-reverse;
        gap: 24px;

        background-image: none;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .goat-left {
        width: 85%;
        background-image: url("./images/group14.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 30px;
        padding-left: 50px;
        margin-bottom: 50px;
    }

    .goat-subtitle {
        padding-top: 30px;
        font-size: 2rem;
    }

    .goat-title {
        font-size: 3rem;
        margin-bottom: 16px;
    }
    #goat-point-2 {
        margin-top: 9px;
        margin-bottom: 9px;
    }
    #goat-point-3{
        margin-bottom: 10px;
    }
    .goat-left .text {
        font-size: 0.6rem;
    }
    .btn-primary, .btn-2 {
        font-size: 0.6rem;
        font-weight: 500;
        border: none;
        border-radius: 48px;
        width: 70px;
        height: 23px;
        padding: 2.5px 5px;
    }

    .goat-right img {
        width: 70%;
    }

}

/* Tablet view */
@media screen and (max-width:768px) and (min-width:577px) {
    nav {
        flex-direction: column;
        gap: 40px;
    }
}