* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.primary-color {
    color: #FF42A5;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

nav .left img {
    width: 4.5rem;
    height: 2.4rem;
}

nav .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.left .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}

.left .title-g {
    color: #FF42A5;
}

nav .right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.125rem;
    font-weight: 500;
}

nav .right ul button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    width: 220px;
    height: 36px;
    border: 0px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding-left: 5px;
    color: #3C354F;
}

.youtube {
    margin: 0px 16px;
    color: #F61C0D;
}

nav .right ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #3C354F;
}

/* banner section */
.goat-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/group14.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    min-height: 100%;
    gap: 70px;
}

.goat-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goat-left {
    /* background-image: url("./images/group14.png");
    background-size: contain;
    background-position: center;
    min-height: 100%;
    min-width: 50%; */

}

.goat-subtitle {
    color: #0B0223;
    font-size: 4rem;
    font-weight: 500;
    padding-top: 140px;
}

.goat-title {
    font-size: 6rem;
    font-weight: 900;
    margin-top: 4px;
    margin-bottom: 24px;
    background: linear-gradient(180deg, #FF4AB6 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.goat-left .text {
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 10px;
}

.play,
.download {
    color: #FF42A5;
}

#goat-point-2 {
    margin-top: 17px;
    margin-bottom: 17px;
}

#goat-point-3 {
    margin-bottom: 30px;
}

.btns {
    margin-bottom: 40px;
}

.btn-primary {
    color: #FFF;
    background-color: #FF42A5;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    width: 100px;
    height: 33px;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-2 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    width: 130px;
    height: 33px;
    padding: 5px 10px;
}

.goat-right {
    width: 45%;
    text-align: center;
    position: relative;
}

.goat-right img {
    width: 100%;
    position: absolute;
    top: -155px;
    left: 50px;
}

/* gamer section */
.gamer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.gamer-left {
    width: 60%;
}

.gamer-left img {
    width: 100%;
}

.gamer-right {
    width: 40%;
    text-align: right;
}

.gamer .title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 90px;
}

.gamer .description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
}

.btn-know {
    width: 140px;
    height: 45px;
    margin-top: 24px;
    margin-bottom: 20px;
}

.para-1 {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.para-2 {
    color: #534C64;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 70px;
}

/* online game section */
.online-games-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.online-game-container {
    width: 80%;
    margin-bottom: 90px;
}

.online-game-container .heading {
    text-align: center;
}

.online-game-container .black-title {
    color: #0B0223;
    font-size: 2.7rem;
    font-weight: 900;
}

.online-game-container .title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 900;
}

.online-game-container .description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 40px;
}

.games {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.image {
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    border: 2px solid #FF42A5;
    border-radius: 10px;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;

}

.content:hover {
    opacity: 1;
}

.content .hvr-play {
    color: white;
    font-size: 2rem;
}

.content .hvr-text {
    width: 40%;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .content .hvr-play i{
    height: 48px;
    width: 48px;
} */




.games .card img {
    width: 100%;
}

.card .text {
    color: #534C64;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 16px;
}

/* play instantly section */

.play-instantly {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.play-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.play-left {
    width: 40%;
    text-align: right;
}

.play-left .title {
    font-size: 2.4rem;
    font-weight: 800;
}

.play-left .description {
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}

.play-right {
    width: 60%;
    position: relative;
    text-align: right;
}

.play-right .img-1 {
    width: 100%;
}

.play-right .img-1 img {
    width: 80%;
}

.play-right .img-2 {
    width: 60%;
    position: absolute;
    left: -90px;
    top: 200px;
}

.play-right .img-2 img {
    width: 70%;

}

/* games section styles */
.games-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.games-container {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.options-container .option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    border: none;
    background: #FFF;
}

.option img {
    width: 20%;
}

.option {
    color: #0B0223;
}

.option .optn-descrip {
    font-size: 0.7rem;
    font-weight: 400;

}

.option:hover {
    border: 1px solid #F948B2;
    color: #F948B2;

}

/* footer section */
.footer {
    width: 100%;
    background-color: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.footer-container {
    width: 60%;
    color: #FFF;
}

.footer-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.footer-container .title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFF;
}

.footer-container .title-g {
    color: #FF42A5;
}

.features {
    margin-bottom: 50px;
}

.features ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

}

.features ul li {
    list-style: none;
}

.features ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.social-media-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media {
    width: 65%;
}

.social-media ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
}

.social-media ul li {
    list-style: none;
}

.social-media ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

.terms-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 28px;
}

.terms {
    width: 100%;
}

.terms ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.terms ul li {
    list-style: none;
}

.terms ul li a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.copyright-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}

.copyright {
    width: 70%;
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 10px;
}

/* mobile view */
@media screen and (max-width:576px) {
    nav {
        padding: 20px 0px;
    }

    .left .title,
    .gamer .title {
        font-size: 2rem;
    }

    nav,
    nav .right ul {
        flex-direction: column;
        gap: 30px;
    }

    nav .right ul,
    nav .right ul button,
    .gamer .para-2 {
        font-size: 1rem;
    }

    .goat-section {
        background: none;
    }

    .goat-container {
        flex-direction: column-reverse;
        gap: 24px;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .goat-left {
        width: 90%;
        background-image: url("./images/group14.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 30px;
        margin-bottom: 50px;
    }

    .goat-subtitle {
        padding-top: 30px;
        font-size: 2rem;
    }

    .goat-title {
        font-size: 3rem;
        margin-bottom: 16px;
    }

    #goat-point-2 {
        margin-top: 9px;
        margin-bottom: 9px;
    }

    #goat-point-3 {
        margin-bottom: 10px;
    }

    .goat-left .text,
    .gamer .description,
    .gamer .para-1,
    .online-game-container .description {
        font-size: 0.8rem;
    }

    .btn-primary,
    .btn-2 {
        font-size: 0.6rem;
        font-weight: 500;
        border: none;
        border-radius: 48px;
        width: 70px;
        height: 23px;
        padding: 2.5px 5px;
    }

    .goat-right {
        width: 90%;
        position: static;
    }

    .goat-right img {
        width: 100%;
        position: static;
        top: 0px;
        left: 0px;
    }

    /* gamer section */
    .gamer-section {
        background: none;
        margin-bottom: 20px;
    }

    .gamer {
        width: 100%;
        flex-direction: column;
        gap: 20px;

    }

    .gamer .title {
        padding-top: 0px;
    }

    .gamer-left {
        width: 80%;
    }

    .gamer-right {
        width: 65%;
        text-align: center;
    }

    .btn-know {
        width: 100px;
        height: 30px;
        margin-top: 24px;
        margin-bottom: 20px;
    }

    /* online games section */
    .games {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .online-game-container {
        width: 80%;
        margin-bottom: 40px;
    }

    .online-game-container .title,
    .online-game-container .black-title {
        font-size: 1.3rem;
    }

    .card .text {
        font-size: 0.7rem;
    }

    /* play instantly section */
    .play-container {
        width: 90%;
        flex-direction: column;
        gap: 50px;
    }

    .play-left {
        width: 60%;
        text-align: center;
    }

    .play-left .title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .play-left .description {
        font-size: 0.8rem;
    }

    .play-right {
        width: 80%;
    }

    .play-right .img-2 {
        width: 65%;
        position: absolute;
        left: -60px;
        top: 140px;
    }

    /*  */
    .games-container{
        grid-template-columns: repeat(3, auto);
        gap: 15px;
    }
    .option .optn-descrip {
        font-size: 0.5rem;
        font-weight: 400;
    
    }
    .games-section{
        margin-bottom: 70px;
    }

    /* footer section styles */
    .footer-container {
        width: 70%;
        text-align: center;
    }
    .footer-heading img{
        width: 70%;
    }
    .footer-heading .title{
        font-size: 2rem;
    }
    .features ul {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }

    .social-media ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .terms ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .features ul li a,
    .social-media ul li a,
    .terms ul li a,
    .copyright {
        font-size: 0.7rem;
    }

    .social-media ul li a svg {
        width: 80%;
    }

    .copyright {
        width: 65%;
        flex-direction: column;
        gap: 0px;
    }
}

/* Tablet view */
@media screen and (max-width:768px) and (min-width:577px) {
    nav {
        flex-direction: column;
        gap: 40px;
    }

    /* banner section */
    .goat-section {
        background: none;
    }

    .goat-container {
        flex-direction: column-reverse;
        gap: 24px;
        padding-left: 0px;
        margin-bottom: 10px;
    }

    .goat-subtitle {
        padding-top: 50px;
    }

    .goat-left {
        width: 90%;
        background-image: url("./images/group14.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-left: 30px;
        margin-bottom: 50px;
    }

    .goat-right {
        width: 90%;
        position: static;
    }

    .goat-right img {
        width: 100%;
        position: static;
        top: 0px;
        left: 0px;
    }

    /* gamer section */
    .gamer {
        width: 100%;
        flex-direction: column;
        gap: 0px;
    }

    .gamer-section {
        margin-bottom: 30px;
    }

    .gamer .title {
        padding-top: 10px;
    }

    .gamer-right {
        width: 70%;
        text-align: center;
    }

    /* online games section */
    .games {
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }

    /* play instantly section */
    .play-instantly {
        margin-bottom: 150px;
    }

    .play-container {
        width: 90%;
        flex-direction: column;
        gap: 50px;
    }

    .play-left {
        width: 45%;
        text-align: center;
    }

    .play-left .title {
        font-size: 2.5rem;
        font-weight: 700;
    }

    .play-left .description {
        font-size: 1rem;
    }

    .play-right {
        width: 80%;
    }

    .play-right .img-2 {
        width: 65%;
        position: absolute;
        left: -100px;
        top: 260px;
    }
    /* games section */
    .games-section{
        margin-bottom: 70px;
    }
    /* footer section */

    .footer-container {
        width: 80%;
    }

    .copyright {
        text-align: center;
        flex-direction: column;
    }

    .social-media {
        width: 100%;
    }

}